<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Velkommen til {{var store.getFrontendName()}}.</h1>
            <p>Vi har oprettet en konto til dig. Angiv venligst din adgangskode her:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url=&quot;customer/account/resetpassword/&quot; _query_id=$customer.rp_customer_id _query_token=$customer.rp_token}}"><span>Angiv Adgangskode</span></a>
                    </td>
                </tr>
            </table>
            <p>For at logge ind, når du besøger vores hjemmeside, skal du blot klikke på <a href="{{store url="customer/account/"}}">Log ind</a> eller <a href="{{store url="customer/account/"}}">Min konto</a> øverst på hver side, og derefter indtaste din e-mail-adresse og adgangskode.</p>
            <p class="highlighted-text">
                Brug følgende værdier, når du bliver bedt om at logge ind:<br>
                <strong>E-mail</strong>: {{var customer.email}}<br>
                <strong>Password</strong>: (den adgangskode du indstillede)
            </p>
            <p>Når du logger ind på din konto, vil du kunne gøre følgende:</p>
            <ul>
                <li>Gå gennem kassen hurtigere, når du foretager et køb</li>
                <li>Tjek status for ordrer</li>
                <li>Se tidligere ordrer</li>
                <li>Foretag ændringer i dine kontooplysninger</li>
                <li>Skift din adgangskode</li>
                <li>Gem alternative adresser (til forsendelse til flere familiemedlemmer og venner!)</li>
            </ul>
            <p>
                Hvis du har spørgsmål, er velkommen til at kontakte os på
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} eller på telefon <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
