<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>Der var for nylig en anmodning om at ændre adgangskoden til din konto.</p>
            <p>Du kan til enhver tid ændre din adgangskode ved at logge ind på <a href="{{store url="adminhtml/system_account/"}}">din konto</a>.</p>
            <p>Hvis du har anmodet om denne adgangskodeændring, så klik her for at nulstille din adgangskode:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url=&quot;adminhtml/index/resetpassword/&quot; _query_id=$user.id _query_token=$user.rp_token}}"><span>Nulstil Adgangskode</span></a>
                    </td>
                </tr>
            </table>
            <p>Hvis du ikke fremsatte denne anmodning, kan du ignorere denne besked, og din adgangskode vil forblive den samme.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
