<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>To log in when visiting our site just click <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">My Account</a> at the top of every page, and then enter your email address and password.</p>
            <p>Wanneer u inlogt op uw account, kunt u het volgende doen:</p>
            <ul>
                <li>Afrekenen sneller doorgaat bij aankoop</li>
                <li>Controleer de status van de bestellingen</li>
                <li>Bekijk vorige bestellingen</li>
                <li>Wijzigingen aanbrengen in je accountgegevens</li>
                <li>Uw wachtwoord wijzigen</li>
                <li>Alternatieve adressen opslaan (om bijvoorbeeld bestellingen naar vrienden en familie te sturen!)</li>
            </ul>
            <p>
                Als je vragen hebt, Neem gerust contact met ons op via
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} of via telefoon bij <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
