<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Välkommen till {{var store.getFrontendName()}}.</h1>
            <p>För att logga in när du besöker vår webbplats klickar du bara på <a href="{{store url="customer/account/"}}">Logga in</a> eller <a href="{{store url="customer/account/"}}">Mitt konto</a> högst upp på varje sida, och ange sedan din e-postadress och lösenord.</p>
            <p class="highlighted-text">
                Använd följande värden när du uppmanas att logga in:<br>
                <strong>E-post</strong>: {{var customer.email}}<br>
                <strong>Lösenord</strong>: (det lösenord du angav när du skapade ditt konto)
            </p>
            <p>När du loggar in på ditt konto kommer du att kunna göra följande:</p>
            <ul>
                <li>Fortsätt genom kassan snabbare när du gör ett köp</li>
                <li>Kontrollera status för beställningar</li>
                <li>Visa tidigare beställningar</li>
                <li>Gör ändringar i din kontoinformation</li>
                <li>Ändra ditt lösenord</li>
                <li>Lagra alternativa adresser (för frakt till flera familjemedlemmar och vänner!)</li>
            </ul>
            <p>
                Om du har några frågor, tveka inte att kontakta oss på
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} eller via telefon på <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
