<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>Det fanns nyligen en begäran om att ändra lösenordet för ditt konto.</p>
            <p>Du kan ändra ditt lösenord när som helst genom att logga in på <a href="{{store url="adminhtml/system_account/"}}">ditt konto</a>.</p>
            <p>Om du har begärt detta lösenord, klicka här för att återställa ditt lösenord:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url=&quot;adminhtml/index/resetpassword/&quot; _query_id=$user.id _query_token=$user.rp_token}}"><span>Återställ lösenord</span></a>
                    </td>
                </tr>
            </table>
            <p>Om du inte gjorde denna begäran, kan du ignorera detta meddelande och ditt lösenord kommer att förbli detsamma.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
