<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url"
}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.cs"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{htmlescape var=$customer.name}},</h1>
                        <p>Tu correo electrónico {{var customer.email}} debe ser confirmado antes de usarlo para iniciar sesión en nuestra tienda.</p>
                        <p class="highlighted-text">
                            Usa los siguientes valores cuando se te pida para iniciar sesión:<br/>
                            <strong>Correo electrónico:</strong> {{var customer.email}}<br/>
                            <strong>Contraseña</strong>: (la contraseña que estableces al crear tu cuenta)
                        </p>
                        <p>Haga clic aquí para confirmar su correo electrónico e iniciar sesión al instante (el enlace es válido sólo una vez):</p>
                        <table cellspacing="0" cellpadding="0" class="action-button" >
                            <tr>
                                <td>
                                    <a href="{{store url=&quot;customer/account/confirm/&quot; _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>Confirmar cuenta</span></a>
                                </td>
                            </tr>
                        </table>
                        <p>
                            Si tienes alguna pregunta, no dude en ponerse en contacto con nosotros en
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} o por teléfono en <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
