<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url"
}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>{{htmlescape var=$customer.name}},</h1>
                        <p>Ihre E-Mail {{var customer.email}} muss bestätigt werden, bevor Sie sie nutzen können, um sich in unserem Shop anzumelden.</p>
                        <p class="highlighted-text">
                            Verwenden Sie die folgenden Werte, wenn Sie aufgefordert werden, sich anzumelden:<br/>
                            <strong>E-Mail:</strong> {{var customer.email}}<br/>
                            <strong>Passwort</strong>: (das Passwort, das Sie bei der Erstellung Ihres Kontos gesetzt haben)
                        </p>
                        <p>Klicken Sie hier, um Ihre E-Mail zu bestätigen und sich sofort einzuloggen (der Link ist nur einmal gültig):</p>
                        <table cellspacing="0" cellpadding="0" class="action-button" >
                            <tr>
                                <td>
                                    <a href="{{store url=&quot;customer/account/confirm/&quot; _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>Konto bestätigen</span></a>
                                </td>
                            </tr>
                        </table>
                        <p>
                            Wenn Sie irgendwelche Fragen haben bitte kontaktieren Sie uns unter
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} oder telefonisch unter <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{Template config_path="design/email/footer"}}
