<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Vor kurzem gab es eine Anforderung, das Passwort für Ihr Konto zu ändern.</p>
            <p>Falls Sie diese Passwortänderung angefordert haben, setzen Sie Ihr Passwort hier zurück:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url=&quot;customer/account/resetpassword/&quot; _query_id=$customer.rp_customer_id _query_token=$customer.rp_token}}"><span>Passwort zurücksetzen</span></a>
                    </td>
                </tr>
            </table>
            <p>Wenn Sie diese Anfrage nicht gestellt haben, können Sie diese Nachricht ignorieren und Ihr Passwort bleibt das gleiche.</p>
        </td>
    </tr>
</table>

{{Template config_path="design/email/footer"}}
